* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.global {
    font-family: 'Dosis', sans-serif;
    font-family: 'Roboto', sans-serif;

}

p {
    text-transform: capitalize;
    font-family: 'Dosis', sans-serif;
}


.cookie_field {
    padding: 1em 2em;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}


/*Main start*/
.welcome_user {
    width: 100%;
    text-align: center;
    margin: 2em 0;
}

.welcome_user h1 {
    text-transform: capitalize;
    word-spacing: 3px;
    margin-bottom: 10px;
}

.welcome_user p {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 10px;
}

.main_section .offer_course {
    margin: 1rem 3rem;
    display: flex;
    border: 1px solid rgb(45, 37, 88);
    margin: auto;
    width: 70%;
}

.main_section .offer_course img {
    width: 200px;
    height: 160px;
}

.main_section .offer_course .course_details {
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    border-left: none;
}
.main_section #parent li{
    margin-top: 1rem;
}

.main_section .offer_course .course_details P {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 1.6rem;
}

.main_section .offer_course .course_details a {
    text-decoration: none;
    color: #1861c7;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}



/*Header start*/
* {
    margin: 0;
    padding: 0;
}

.custom_row {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: #ffffff;
}

.brand_name a {
    text-decoration: none;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    cursor: pointer;
}

.open_account a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
    cursor: pointer;
}

.open_account a:hover {
    color: #626262;
}

.open_account a i {
    padding-right: 5px;
    cursor: pointer;
}

.nav_item {
    background-color: #5023d6;
    display: flex;
    justify-content: space-between;
}

.nav_item ul {
    display: flex;
    padding: 1em 2em;
    list-style: none;
    gap: 1em;

}

.logout_btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
}

.logout_btn:hover {
    color: #111111;
}

.nav_item ul a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.nav_item ul a:hover {
    color: #ffd2d2;
}

/*Footer.php starts*/
.footer_content {
    background-color: #604f96;
    padding: 2em 2em;
    margin-top: 5rem;
}

.f_content a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    cursor: pointer;

}

.f_content a:hover {
    color: #000000;
}

footer p {
    background-color: rgb(255, 255, 255);
    color: #111111;
    text-align: center;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

/*Footer.php ends*/

/* Registration.php start */

.account_creation {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 5em;
    background-image: url("../img/2.jpg");
}

.account_creation h4 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(12, 209, 58);


}

.account_creation form {
    width: 300px;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(126, 126, 126);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem 0;
}

.account_creation .form_group {
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
}

.account_creation .form_group span {
    position: absolute;
}

.account_creation .form_group span i {
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(177, 176, 176);
    width: 35px;
    padding: 7px;
    background-color: rgb(253, 241, 167);
}

.account_creation .form_group input {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin-left: 38px;
    box-shadow: 0 4px 8px 0 rgba(146, 146, 146, 0.2), 0 6px 20px 0 rgba(203, 203, 203, 0.19) inset;
}

.account_creation .form_group input:focus {
    outline: 0;
    border-color: rgb(162, 162, 162);
}

.account_creation .input_field.success input {
    border-color: #2ecc71;
}

.account_creation .input_field.error input {
    border-color: #d73921;
}

.account_creation .form_group .error_div {
    display: flex;
}

.account_creation .form_group .error_div i {
    position: absolute;
    right: 8px;
    top: 11px;
    visibility: hidden;
}

.account_creation .input_field.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.account_creation .input_field.error i.fa-exclamation-circle {
    color: #d73921;
    visibility: visible;
}

.account_creation .form_group .error_div small {
    position: relative;
    top: 3px;
    left: 0;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.account_creation .input_field.error small {
    color: #d73921;
}

.account_creation .input_field.success small {
    color: #2ecc71;
}

.account_creation .form_group_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

.account_creation button {
    width: fit-content;
    padding: 8px 30px;
    font-size: 16px;
    border: none;
    background-color: #2a78c0;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}

.account_creation button:hover {
    background-color: #1360a7;
    color: #ffffff;
}

.account_creation p {
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;

}

.account_creation a {
    text-decoration: none;
    cursor: pointer;
}

.account_creation a:hover {
    color: #2a78c0;
}

/* Registration.php end */

/*displayRegis.php start*/

.table_content {
    background-image: url("../img/1.jpg");
    width: 100%;
    background-size: cover;
    height: 100vh;

}

.table_content table {
    background-color: #ecf249;
    margin: auto;
    padding: 1em;
    width: 1200px;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table_content caption {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    color: #0450a7;
    padding: 10px 0 5px 0;
}

.table_content .back a {
    color: #bb0101;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.table_content .back a:hover {
    color: #050505;
}

.table_content th {
    text-align: center;
    padding-bottom: 1em;
    text-decoration: underline;
}

.table_content td {
    text-align: center;
    line-height: 1.5em;
    border: 1px solid #4d4d4d;

}

/*displayRegis.php end*/